section .container .contactForm
{
  margin-right: 180px;
  padding-right: 250px;
  padding-left: 60px;
}
section .container .contactForm .formBox .inputBox span
{
  right: 0;
}
.will-get {
  right: 120px !important;
}

@media (max-width: 1200px) {
  .container .contactForm {
    position: relative !important;
    margin-right: 0 !important;
    width: 560px !important;
  }
}
@media (max-width: 921px) {
  .container .contactForm {
    width: 100% !important;
  }
}

.important-note {
  right: 110px !important;
  left: auto !important;
}
section .container .contactinfo .info li span:nth-child(2) {
  margin-right: 10px;
}